body {

    /* background-image: url(/images/background.jpg); */
  
    background-size: cover;
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    color: black;
  
    box-sizing: border-box;
  
    /* background-color: #333333; */
  
  }
  
   
  .workout-collection {
    margin: 1em 0;
  }
  .workout-style {
  
    display: grid;
  
      grid-template-rows: auto;  
  
    margin-bottom: 2.5px;
  
    background-color: white; 
  
    font-size: small;
  
    font-family: Arial, Helvetica, sans-serif;

    border: 4px solid;
    
    padding: 1em;
  
  }
  
   
  
  ul {
  
    list-style-type: none;
  
    margin: 0;
  
    padding: 0;
  
  }
  
   
  
  li a {
  
    display: block;
  
    border-radius: 10%;
  
    color: white;
  
  }
  
   
  
  .navbar {
  
    width: 100%;
  
    background-color: #555;
  
    overflow: auto;
  
  }
  
   
  
  /* Navigation links */
  
   
  
  .navbar a {
  
    float: left;
  
    padding: 12px;
  
    color: white;
  
    text-decoration: none;
  
    font-size: 17px;
  
    width: 25%;
  
    text-align: center;
  
  }
  
   
  
  /* Add a background color on mouse-over */
  
   
  
  .navbar a:hover {
  
    background-color: #000;
  
  }
  
   
  
  /* Style the current/active link */
  
   
  
  .navbar a.active {
  
    background-color: #4CAF50;
  
  }
  
   
  
  button {
  
    font-family: Helvetica, Arial, sans-serif;
  
    font-size: 11px;
  
    font-weight: bold;
  
    color: red;
  
    padding: 10px 10px;
  
    margin: 0 10px;
  
    text-decoration: none;
  
    
  
  }